#ws_receiver {
    display: flex;
    flex-direction: column;
    border: 1px solid #bbbbbb;
    height: 70vh;
    overflow: auto;
}

#connection {
    margin: auto;
}

.message {
    align-self: flex-start;
    padding: 15px;
    background-color: #bbbbbb;
    border-radius: 15px;
    margin: 5px;
}

.message_bot {
    align-self: flex-start;
    color: #5d5d5d;
    margin: 5px 5px 5px 10px;
}

.chat-user {
    font-size: 12px;
    display: block;
    color: white;
}

.message_self {
    align-self: flex-end;
    padding: 15px;
    background-color: #1f43a8;
    border-radius: 15px;
    margin: 5px;
    color: white;
}